<?xml version="1.0"?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp>
        <network
             host="email.uiowa.edu"
             port="587"
             userName="anwillia"
             password="hawks3453" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <system.web>

      <authorization>

        <allow roles="r_Admin, r_Members"/>

        <deny users ="?"/>

      </authorization>

    </system.web>
</configuration>
